.App {
  background-color: lightgrey;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.controls {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.grid {
  display: flex;
  flex-direction: column;
}

@media screen and (orientation: landscape) {
  .grid {
    width: 100vh;
    height: 100vh;
  }
  .controls {
    border-left: 5px solid grey;
  }
}

@media screen and (orientation: portrait) {
  .grid {
    width: 100vw;
    height: 100vw;
  }
  .App {
    flex-direction: column;
  }
  .controls {
    border-top: 5px solid grey;
  }
}

.instruction {
  margin: auto;
}

.row {
  display: flex;
  flex: auto;
}

.square {
  flex: auto;
}

.roll-button {
  font-size: 50px;
  background-color: white;
}
