.App {
  background-color: lightgrey; /* sets the background colour of the app  */
  width: 100vw; /* sets the app to fill 100% of the width of the screen  */
  height: 100vh; /* sets the app to fill 100% of the height of the screen  */
  display: flex; /* allows components within the app to fill the available space  */
}

.controls {
  flex: auto; /* fill the available space  */
  display: flex; /* allows subcomponents to fill the available space  */
  align-items: center; /* horizontally align items to the center  */
  justify-content: center; /* vertically align items to the center  */
  background-color: white; /* sets the background colour of the control panel */
}

.grid {
  display: flex; /* allows subcomponents to fill the available space - we want the squares to fill the whole of the canvas */
  flex-direction: column; /* stack rows on top of eachother rather than side by side  */
}

.label {
  position: absolute;
}

/* if the screen is orientated in landscape */
@media screen and (orientation: landscape) {
  .grids {
    display: flex;
    flex-direction: row;
  }

  .instruction {
    height: calc(50vw - 50px);
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .grid {
    /* set the grid to be a square with sides equal to the height of the screen (the shorter edge) */
    width: calc(50vw - 20px);
    height: calc(50vw - 20px);
    margin: 10px;
  }
  /* place app components side by side  */
  .App {
    flex-direction: column;
  }
}

/* if the screen is orientated in portrait */
@media screen and (orientation: portrait) {
  .grids {
    display: flex;
    flex-direction: column;
  }

  .instruction {
    height: calc(100vh - 50px);
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .grid {
    /* set the grid to be a square with sides equal to the height of the screen (the shorter edge) */
    width: calc(50vh - 50px);
    height: calc(50vh - 50px);
    margin: 5px auto;
  }
  /* place app components side by side  */
  .App {
    flex-direction: column;
  }

  controls {
    height: 80px;
  }
}

.row {
  display: flex; /* allow the squares in the row to fill all the space  */
  flex: auto; /* fill the available vertical space on the column  */
}

.square {
  flex: auto; /* fill the available space in the row */
  display: flex;
  justify-content: center;
  align-items: center;
}

.roll-button {
  font-size: 30px; /* set the font size of the text in the button  */
  background-color: white; /* set background colour of the button  */
}

.title {
  font-size: 30px;
  padding: 3px 10px;
}
